.pictureDiv {

  margin-bottom: 2rem ;
}

.imgFrame {
  height: 4.5rem ;
  width:  4.5rem ;
  border-radius: 50% !important ;
  overflow: hidden ;
  border: 2px solid black ; 
  
}

.pictureCol {
  display: flex !important ;
  align-items: center ;
  flex-direction: column ;
}

.nameCol {
  display: flex !important ;
  align-items: center ;
  flex-direction: column ;
  justify-content: center ;
  font-weight: 600 ;
  margin-bottom: 1rem ;
}

