.Button {
  display: inline-block;
  font-weight: 700;
  padding: .2rem 1.2rem;
  margin: 0 .1rem .1rem 0;
  border-radius: 20px;
  text-decoration: none;
  border: .2rem solid rgba(0, 0, 0, 0.25);
  text-shadow: 0 .1rem .1rem rgba(0,0,0,0.35);
  transition: all ease-in 0.5s;
  
}

.Button:hover {
  border-color: #ffff74 ;
  
}

.Button:focus {
  outline: none;
  
}

.Button:disabled {
  color: #ccc ;
  cursor: not-allowed ;
}

.ButtonRed {
  background-color: #fa4254;
}

.ButtonGrey {
  background-color: rgb(195, 195, 195);
}

.ButtonBlue {
  background-color:  #12acc4 ;
}



/* .Success {
  color: #5C9210;
}

.Danger {
  color: #944317;
}

.Info {
  color : rgb(108, 214, 250) ;
} */




