.mainPage {
  background-color: #eee !important;
}

.nav-box {
  background-color: #8d98f2;
  font-size: 1.3rem;
}

.textarea-nav {
}
.buttons {
  font-size: 1.3rem !important;
  display: flex;
  justify-content: space-between;
  background-color: #23408e;
}

.select {
  background-color: #23408e !important;
  color: white !important;
}

.build {
  background-color: #23408e !important;
  /* font-weight: bold; */
  /* font-size: 1.3rem !important;
}
*/
}
.card-user {
  margin-bottom: 5px;
}
.logo {
  background-color: #8d98f2;
}

.build-input {
  width: 3em;
  border: #23408e 3px solid;
  border-radius: 5px;
}

/* .card {
  max-width: 18rem;
} */

.build-div {
  border: 2px solid #23408e;
  padding: 1px;
  /* background-color: #ffd740; */
}
.counter-div {
  position: relative;
  padding-top: 5px;
}
.counter {
  position: absolute;
  right: 10px;
  /* border: 1px solid red; */
  border-radius: 20px !important;
}
.date {
  margin-bottom: 15px !important;
}

@media only screen and (max-width: 576px) {
  .date {
    width: 100%;
  }
  .counter {
    top: 1px;
    right: 50%;
  }
  .counter-div {
    display: block;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .logoBenLeeds img {
    width: 250px !important;
  }
  .card-user {
    /* margin: 1em; */
    background-color: #23408e !important;
    /* border-radius: 20% !important; */
    color: white;
  }
}
.user-name {
  height: max-content !important;
  padding: 0px !important;
  border-radius: 20%;
}
.card .user-info {
  margin: 0 auto;
  height: max-content !important;
  width: max-content;

  padding: 0px !important;
  /* border-radius: 20%; */
}
.card .user-img {
  width: inherit !important;
  height: inherit !important ;
  /* border-radius: 50%; */
}
.card-user {
  background-color: #23408e !important;
  /* border-radius: 20% !important; */
  color: white;
}
#modal-styling {
  width: min-content;
}
#modal-styling-body {
  width: min-content;
}

@media only screen and (min-width: 768px) {
  .build-input {
    font-size: 1.1rem !important;
  }
  .textarea-workorder {
    font-size: 1.1rem !important;
  }
  .search-input {
    font-size: 1.1rem !important;
  }
  .button {
    font-size: 1.1rem !important;
  }
  .build {
    font-size: 1.1rem !important;
  }
  .info {
    font-size: 1.1rem !important;
  }
  .build-div {
    font-size: 1.1rem !important;
  }
}
